.registerButton {
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border: 1px solid #092144;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(
      to bottom, #8caee0 0%, #5b5f5b 100%
    );
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  .registerButton:hover {
    background-position: right center;
    border-color: white;
  }