.list {
    letter-spacing: none;
    margin-left: 100px;
}

.item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.filter-title {
    margin-top: 5px;
    margin-bottom: 0;
}

.buttonDelete {
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttonDelete:hover,
.buttonDelete:focus {
    background-color: blue;
}